body {
    height: 100% 
}

.Background{
    height: 100vh;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-image: url("../img/binarie_white.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: lighten;
    background-size: cover;
}   

.mainbody{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
}

h1 {
    font-size: 4em;
    margin: 5px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin: 5px;
    text-align: center;
}

.custom-shape-divider-bottom-1679224165 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

@media screen and (max-height: 450px) {
    .custom-shape-divider-bottom-1679224165 {
        display: none;
    }
}

@media screen and (max-height: 550px) {
    .custom-shape-divider-bottom-1679224165 {
        bottom: -30px;
    }
}

.custom-shape-divider-bottom-1679224165 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 158px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679224165 .shape-fill {
    fill: #347CF5;
}